#mainPane {
	-fx-background-color: white;
	-fx-alignment:center;
}

#mainTitle {
	-fx-alignment:center-right;
   	-fx-font-size: 3em;   	
   	-fx-font-family: "Arial";
   	-fx-font-weight: bold;
   	-fx-text-fill: red;   	
   	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
   	-fx-padding: 0 10 0 0;	
}

#homeTitle {   
	-fx-alignment: center;
	-fx-font-size: 2em;
	-fx-font-weight: bold;	
}

#homeIntro {	
	-fx-alignment: center;
	-fx-padding: 30 10;	
}

#homeEnterBtn {
	-fx-alignment: center;
}

.faqQuestion {
	-fx-alignment: left;
   	-fx-font-size: 1em;   	
   	-fx-font-family: "Arial";
   	-fx-font-style: italic;   	
}

.faqAnswer {
	-fx-alignment: center-right;
   	-fx-font-size: 1em;   	
   	-fx-font-family: "Arial";
   	-fx-font-weight: bold;
}

#votePane {
	-fx-alignment: center;	
}

#voteResultsPane {
	-fx-alignment: inherit ;
	-fx-background-image: url(./stats_worldmap.jpg) ;
	-fx-background-size: 564.0px 308.0px ;
	-fx-background-repeat: stretch ;		 
}

#voteQuestion {
   	-fx-font-size: 1.5em;
   	-fx-font-family: "Arial Black ";
	-fx-font-weight: bold;
   	-fx-fill: #818181;
   	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.voteResultLabel {
	-fx-alignment: center-right ;
    -fx-font-size: 3em;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold ;
    -fx-text-fill: darkred;    
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}
		
.voteResultPct {
    -fx-font-size: 3em;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold ;
    -fx-text-fill: darkred;    
   /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

#resultsTotal {
    -fx-font: 2em "Verdana";
}


.button {
	-fx-pref-width: 100px;
	-fx-pref-height: 40px;	
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-background-insets: 20;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.menuBtn {
	-fx-text-fill: firebrick;	
    -fx-background-color: #EEEEEE;    
    -fx-background-insets: 5;
    -fx-font-size: 15px;  	
}

.menuBtn:hover  {	
	-fx-background-color: #DDDDDD;	
}