/* caracteristiques par defaut d'une page de l'application */
.appPane {
	-fx-font-size: 15px;
	-fx-pref-width: 800px;
	-fx-pref-height: 500px;
	-fx-font-family: "Arial";	
	-fx-background-color: white;
	-fx-alignment: center;	
}

.Button {
	-fx-padding: 10px ;	
}

.content {	
	-fx-alignment: top-center;
	-fx-padding: 100px 80px ;		
}

.radioButton .text {
    -fx-min-height: 20px;
    -fx-font-weight: 400;
    -fx-cursor: pointer;
}

#changeLng  {
	-fx-border-color: grey ;
	-fx-border-style: dotted ;
	-fx-background-color: white ;
}

.navBar {
	-fx-pref-height: 100px ;
	-fx-alignment: top-right ;
	-fx-padding: 10px ;	
}
 
#homePane #homeIntro {	
	-fx-padding: 30px 0 0 0;
	-fx-text-alignment: justify;
	-fx-wrap-text: true ; 	
}

#votePane #voteQuestion {
	-fx-padding: 30px 0;
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

#votePane RadioButton {
	-fx-padding: 10px 20px 0 10px;
}

#statsPane #resultsPane {
	-fx-font-family: "Verdana";	
	-fx-alignment: center ;
	-fx-background-size: cover;
	-fx-background-image: url(world.jpg) ;
	-fx-background-position: center center;		 
	-fx-background-repeat:no-repeat;
}

#statsPane #resultsPane .voteResultLabel {
    -fx-font-size: 3.0em;
    -fx-font-weight: bold ;
    -fx-text-fill: darkred;    
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}
		
#statsPane #resultsPane .voteResultPct {
    -fx-font-size: 3.0em;
    -fx-font-weight: bold ;
    -fx-text-fill: darkred;    
   /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

#statsPane #resultsPane #resultsTotal {
    -fx-font-size: 2.0em;
}
